{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Available Tours</h1>
<div class="row">
    {% for tour in tours %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ tour.title }}</h5>
                    <p class="card-text">{{ tour.description }}</p>
                    <p><strong>Price:</strong> ${{ tour.price }}</p>
                    <p><strong>Date:</strong> {{ tour.date }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
